<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-column">
          <h3>About Us</h3>
          <p>
            At our restaurant, we combine delicious food with the convenience of
            online ordering. With just a few clicks, you can explore our menu,
            select your favorite dishes, and have them delivered right to your
            doorstep.
          </p>
        </div>
        <div class="footer-column">
          <h3>Contact</h3>
          <p>
            123 Main St.</br>Anytown, USA 12345</br>Email: order@restaurantista.org</br>Phone: 555-456-7890
          </p>
        </div>
        <div class="footer-column">
          <img src="/photos/restaurantista-logo.jpg" alt="Logo" class="footer-logo" />
          <h3>Follow Us</h3>
          <div class="social-media-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <p class="footer-bottom">© 2023 Restaurantista</p>
    </div>
  </footer>

  <link rel="stylesheet" href="templates/footer-template.css">